<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ESPM 50AC</title>
		<meta name="description" content="Blueprint: Vertical Timeline" />
		<meta name="keywords" content="timeline, vertical, layout, style, component, web development, template, responsive" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="static/css/default.css" />
		<link rel="stylesheet" type="text/css" href="static/css/component.css" />
		<script src="static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">

				<h1>Indian Self-Determination 1961 – 1985</h1>
				<nav>
					<a href="/termination" class="icon-arrow-left" data-info="home">Termination</a>
{#					<a href="" class="icon-arrow-right" data-info="Next Page">Removal and Reservation</a>	#}
				</nav>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime" datetime="1975-04-10"><span>1975</span></time>

						<div class="cbp_tmlabel">
							<h2>Indian Self-Determination Act</h2>
							<p>
                                <ul>
                                    <li>
                                        Indian tribes could contract to run Bureau of Indian Affairs of Indian Health Services programs for tribal members
                                    </li>
                                    <li>
                                        “Self determination contract clause”
                                        <ul>
                                            <li>
                                                Tribe would step into the shoes of the federal government and use tribal employees to run federal programs with federal funding
                                            </li>
                                            <li>
                                                Tribes have contracted around 1.6 billion in programs from the Indian Health Services
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Rights were granted for those of indigenous origin to run elements of the gaming industry which has supplemented federal income substantially
                                    </li>

                                </ul>
                            </p>
						</div>
					</li>
                    <li>
						<time class="cbp_tmtime" datetime="1978-04-10"><span>1978</span></time>

						<div class="cbp_tmlabel">
							<h2>Santa Clara Pueblo vs Martinez</h2>
							<p>
                                <ul>
                                    <li>
                                        Tribal government enacted an ordinance that allowed children of Pueblo men to be enrolled even if the other parent was not Pueblo
                                    </li>
                                    <li>
                                        Supreme Court refused to recognize federal authority to interfere in right of tribe to determine membership
                                    </li>
                                </ul>
                            </p>
						</div>
					</li>
                    <li>
						<time class="cbp_tmtime" datetime="2009-04-10"><span>2009</span></time>

						<div class="cbp_tmlabel">
							<h2>Tribal Law and Order Act</h2>
							<p>
                                <ul>
                                    <li>
                                        Recognized complex jurisdictional scheme that exists in the Indian Country has negative impact on the ability to provide public safety services to Indian communities and requires a high degree of coordination among tribal, federal, and state law enforcement.
                                    </li>
                                    <li>
                                        This Obama-era legislation authorized more funding for tribal law-enforcement.
                                    </li>
                                </ul>
                            </p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
