<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ESPM 50AC</title>
		<meta name="description" content="Blueprint: Vertical Timeline" />
		<meta name="keywords" content="timeline, vertical, layout, style, component, web development, template, responsive" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="static/css/default.css" />
		<link rel="stylesheet" type="text/css" href="static/css/component.css" />
		<script src="static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">

				<h1>A Period of Removal and Reservation 1829 - 1886</h1>
				<nav>
					<a href="/timeline" class="icon-arrow-left" data-info="home">Home</a>
					<a href="/allotment" class="icon-arrow-right" data-info="Next Page">Removal and Reservation</a>
				</nav>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime" datetime="1830-04-10"><span>1830</span></time>

						<div class="cbp_tmlabel">
							<h2>Indian Removal Act of 1830</h2>
							<p>
                                <ul>
                                    <li>
                                        Allowed President Andrew Jackson to negotiate with tribes to push them west past the mississippi
                                    </li>

                                </ul>
                            </p>
						</div>
					</li>
                    <li>
						<time class="cbp_tmtime" datetime="1831-04-10"><span>1831</span></time>

						<div class="cbp_tmlabel">
							<h2>Cherokee Nation vs. Georgia</h2>
							<p>
                                <ul>
                                    <li>
                                        Further clarified federal relationship to tribes and the trust relationship between the federal government and indigenous tribes
                                    </li>
                                    <li>
                                        The Supreme Court dismissed this claim as they claimed that tribes could not be recognized as a sovereign power
                                    </li>
                                    <li>
                                        Because the were not viewed as a foreign power, the federal government had to "look out for them"
                                    </li>
                                </ul>
                            </p>
						</div>
					</li>

                    <li>
						<time class="cbp_tmtime" datetime="1832-04-10"><span>1832</span></time>

						<div class="cbp_tmlabel">
							<h2>Worcester Vs. Georgia</h2>
							<p>
                                <ul>
                                    <li>
                                        Between the 1820s and 1830s, Georgia fought to remove the Cherokees from
                                        its borders. The state attempted to annex Cherokee lands, abolishing
                                        their government, courts, as well as distributing the lands to private citizens.

                                    </li>
                                   <li>
                                        The US Supreme Court ruled that the Cherokee Indians constituted a nation holding distinct sovereign powers.
                                       Thus, state law is inapplicable in Indian country absent an express grant of authority from Congress
                                    </li>
                                    <li>
                                        Andrew Jackson refused to enforce decision and declared that the Cherokees would have to evacuate
                                        or fall under Georgia's jurisdiction.
                                    </li>
                                </ul>
                            </p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="1871-04-10"><span>1871</span></time>

						<div class="cbp_tmlabel">
                <h2>Indian Appropriation Act</h2>

                  <ul>
                    <li>
                        Native American tribes were no longer recognized as independent nations by the government
                    </li>
                    <li>
                        Marked the end of signing treaties with Native American Tribes
                    </li>
                    <li>
                        Government was more able to annex lands from Native American tribes
                    </li>
                  </ul>

                    </div>
                </li>

				</ul>
			</div>
		</div>
	</body>
</html>
