<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ESPM 50AC</title>
		<meta name="description" content="Blueprint: Vertical Timeline" />
		<meta name="keywords" content="timeline, vertical, layout, style, component, web development, template, responsive" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="static/css/default.css" />
		<link rel="stylesheet" type="text/css" href="static/css/component.css" />
		<script src="static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">

				<h1>A Period of Termination 1946 – 1960</h1>
				<nav>
					<a href="/IRA" class="icon-arrow-left" data-info="home">IRA</a>
					<a href="/determination" class="icon-arrow-right" data-info="Next Page">Self-Determination</a>
				</nav>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime" datetime="1953-04-10"><span>1953</span></time>

						<div class="cbp_tmlabel">
							<h2>House Concurrent Resolution 108</h2>
							<p>
                                <ul>
                                    <li>
                                        Call for termination of trust responsibilities
                                    </li>
                                    <li>
                                        Make tribes fit for independence
                                    </li>
                                    <li>
                                        Dividing up surplus lands, put into private hands, make everyone citizens
                                    </li>
                                    <li>
                                        Tribes terminated. Urban relocation of individuals to Denver, LA, SF, Oak, Seattle, etc
                                    </li>
                                </ul>
                            </p>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</body>
</html>
