<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ESPM 50AC</title>
		<meta name="description" content="Blueprint: Vertical Timeline" />
		<meta name="keywords" content="timeline, vertical, layout, style, component, web development, template, responsive" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="static/css/default.css" />
		<link rel="stylesheet" type="text/css" href="static/css/component.css" />
		<script src="static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">

				<h1>A Period of Termination 1946 – 1960</h1>
				<nav>
					<a href="/IRA" class="icon-arrow-left" data-info="home">IRA</a>
					<a href="/determination" class="icon-arrow-right" data-info="Next Page">Self-Determination</a>
				</nav>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime" datetime="1953-04-10"><span>1953</span></time>

						<div class="cbp_tmlabel">
							<h2>House Concurrent Resolution 108</h2>

                            <ul>
                                <li>
                                    This resolution called for the termination of federal trust responsibilities,essentially eliminating any view of tribal sovereignty by the US government
                                </li>
                                <li>
                                    Surplus native land was divided up and placed into private hands.
                                    As a corollary, all indigenous peoples were made American citizens.
                                </li>
                                <li>
                                    With the end of tribal sovereignty, many of indigenous origin relocated to large
                                    urban centers such as Denver, Los Angeles, San Francisco, Oakland, or Seattle.
                                </li>
                            </ul>

						</div>
					</li>

				</ul>

                <ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime" datetime="1953-04-10"><span>1953</span></time>

						<div class="cbp_tmlabel">
							<h2>Public Law 280</h2>
                                <ul>
                                    <li>
                                        Authorized state governments to enforce most regular criminal laws on reservations.
                                        This created substantial conflicts both with state governments who hd to patrol
                                        additional land without increased funding and for tribes who now
                                        faced greater sovereignty infringements regarding law enforcement.
                                    </li>
                                </ul>
						</div>
					</li>

				</ul>

                <ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime" datetime="1953-04-10"><span>1956</span></time>

						<div class="cbp_tmlabel">
							<h2>Indian Relocation Act of 1956</h2>
                                <ul>
                                    <li>
                                        The Relocation Act of 1956 attempted to encourge
                                        indigenous peoples to leave tribal lands to spur greater assimilation into the general population.
                                    </li>
                                    <li>
                                        The Relocation Act offered to pay moving expenses and provide elements
                                        of vocational training to those of
                                        inidigenous descent who sought to move into major cities.
                                    </li>
                                    <li>
                                        This act further sought to forcefully integrate natives into the general population
                                        while removing their tribal affiliations
                                    </li>
                                    <li>
                                        Overall 109 tribes were terminated and 2.5 million acres of trust land was removed from protected status.
                                        In addition, over 12,000 Natives lost their tribal affiliation.
                                    </li>
                                </ul>
						</div>
					</li>

				</ul>



			</div>
		</div>
	</body>
</html>
